---
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} >
    <title>Astro</title>
  </head>
  <body>
    <a href="/">Home</a>
    <a href="/about/">About</a>
    <a href="/blog/">Blog</a>

    <h1>About me</h1>

    <p>Hello! I'm Laura, a 31-year-old software developer. I'm on my junior year of college studying software development.</p>

    <p>I'm currently listening to a lot of Chappell Roan, FKA Twigs, and Billie Eilish.</p>
  </body>
</html>